node_red_flow.json
[
    {
        "id": "a1f4a75b36a1d5e6",
        "type": "tab",
        "label": "Robot Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d9ee35dc6d5b2b58",
        "type": "mqtt in",
        "z": "a1f4a75b36a1d5e6",
        "name": "Recebe Status Robô",
        "topic": "robot/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3652915ca5b624d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 100,
        "wires": [["a6e7ad408e3cdb96"]]
    },
    {
        "id": "a6e7ad408e3cdb96",
        "type": "json",
        "z": "a1f4a75b36a1d5e6",
        "name": "JSON Parse",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 100,
        "wires": [["0c9cd7a11b5803f3","d90d3212ce6a91e1","3df5eafc24844fa0","0f5c66e3c31d4d77","47f6e7f3487a3a61"]]
    },
    {
        "id": "0c9cd7a11b5803f3",
        "type": "ui_gauge",
        "z": "a1f4a75b36a1d5e6",
        "name": "Posição X",
        "group": "4f7b8a65b107f8c8",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Posição X",
        "label": "metros",
        "format": "{{value}}",
        "min": 0,
        "max": 1,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 40,
        "wires": []
    },
    {
        "id": "d90d3212ce6a91e1",
        "type": "ui_gauge",
        "z": "a1f4a75b36a1d5e6",
        "name": "Posição Y",
        "group": "4f7b8a65b107f8c8",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Posição Y",
        "label": "metros",
        "format": "{{value}}",
        "min": -0.5,
        "max": 0.5,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "3df5eafc24844fa0",
        "type": "ui_gauge",
        "z": "a1f4a75b36a1d5e6",
        "name": "Posição Z",
        "group": "4f7b8a65b107f8c8",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Posição Z",
        "label": "metros",
        "format": "{{value}}",
        "min": 0,
        "max": 1,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "0f5c66e3c31d4d77",
        "type": "ui_chart",
        "z": "a1f4a75b36a1d5e6",
        "name": "Força/Torque",
        "group": "4f7b8a65b107f8c8",
        "order": 4,
        "width": 8,
        "height": 4,
        "label": "Força (N) e Torque (Nm)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],
        "useOldStyle": false,
        "className": "",
        "x": 600,
        "y": 220,
        "wires": [[],[]]
    },
    {
        "id": "47f6e7f3487a3a61",
        "type": "ui_text",
        "z": "a1f4a75b36a1d5e6",
        "group": "4f7b8a65b107f8c8",
        "order": 5,
        "width": 4,
        "height": 2,
        "name": "Status de Contato",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "3652915ca5b624d5",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4f7b8a65b107f8c8",
        "type": "ui_group",
        "name": "Robot Monitor",
        "tab": "d60a445d78c991d7",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d60a445d78c991d7",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]